<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Horses</title>
</head>
<body>
    <h1>List of Horses</h1>
    <table border ="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Health Score</th>
            <th>Picture</th>
        </tr>
        {% for horse in horses %}
        <tr>
            <td>{{ horse[0] }}</td>
            <td>{{ horse[1] }}</td>
            <td>{{ horse[2] }}</td>
            <td>{{ horse[3] }}</td>
            <td>
                {% if horse[4] %}
                    <img src="{{ url_for('static', filename='horses_pictures/' ~ horse[4]) }}" alt="Picture of {{ horse[1] }}" width="100">
                {% else %}
                    No picture available
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add_horse">Add New Horse</a><br>
</body>
</html>